@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;700;800&family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-darkyell: #B79C10;
    --color-brandyell: #FFE145;
    --color-lightyell: #FFF7CC;
    --color-darkgray: #3F4255;
    --color-gray: #9093A6;
    --color-semilightgray: #D4D7E5;
    --color-lightgray: #F2F4FA;
    --weight-300: 300;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;
}

body {
    background-color: #FFF;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}



input {
    font-size: 100%;
}