main
{
    margin-bottom: 48px;
}
section:first-child {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    margin-right: 104px;
    flex-direction: row;
}

.container-title {
    margin-left: 94px;
    margin-top: 108px;
}

.container-title .main-title {
    font-weight: var(--weight-300);
    font-size: 58px;
    letter-spacing: 2.9px;
    line-height: 64px;
    margin-bottom: 88px;
}

section .container-title button {
    border-radius: 4px;
    background-color: transparent;
    margin-right: 24px;
    padding: 5px 10px;
    border: 2px solid var(--brand-yellow-bright, #FFE145);

}

.container-img {
    position: relative;
}

.container-img::before {
    content: url('../images/rucola-png.png');
    position: absolute;
    z-index: 10;
    left: -150px;
    top: 400px;
}

.container-img::after {
    content: url('../images/arrowfood.svg')
        /* 'Fresh salad, Il Pasifigio' */
    ;
    position: absolute;
    z-index: 1;
    right: 90px;
    top: 600px;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    flex-shrink: 0;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
    max-width: 872px;
    border-radius: 5px;
   padding: 24px 25px 24px 92px;
    
}

.action-container .items {
    display: flex;
    gap: 16px;
}


.action-container .items p {
    font-size: 16px;
    font-family: Martel Sans;
    font-style: normal;
    font-weight: var(--weight-300);
    line-height: 24px;
    letter-spacing: 0.5px;
}