.section-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 92px;
    margin-left: 92px;


}


.section-slider .title-rest {
    font-size: 36px;
    font-style: normal;
    font-weight: var(--weight-300);
    line-height: 64px;
    letter-spacing: 2.88px;
    flex: 1;
}

.section-slider .show-all-btn {
    padding: 16px 24px;
    border-radius: 4px;
    background-color: var(--color-lightgray);
    border: 0;
    color: var(--color-gray);
}

.section-slider .show-all-btn span {
    font-size: 16px;
    font-family: Martel Sans;
    font-style: normal;
    font-weight: var(--weight-700);
    line-height: 20px;
    letter-spacing: 0.5px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px 92px 72px 92px;
}

.swiper-item {

    width: 296px;
    height: 296px;
    box-shadow: 0px 2px 16px 0px rgba(60, 62, 74, 0.08);
    border-radius: 4px;

}

.swiper .res-slide {

    min-width: 296px;
    max-width: 296px;
    min-height: 184px;
}

.swiper-nav-btn-next {
    position: relative;
    top: -150px;
    z-index: 1000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.swiper-nav-btn-next button {

    background-color: #FFF;
    border-radius: 25px;
    width: 24px;
    height: 24px;
    border: 0;
    outline: 0;
    /* Base shadow */
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
}



.swiper-nav-btn-next button:hover {
    background-color: hsl(208, 100%, 97%);
    cursor: pointer;
}

.res-slide:nth-child(1) {
    background: center / cover no-repeat url("../images/BurgerDlice.svg"), url('../images/burgerslide.png');
    background-position: bottom center, top center;
    background-size: 50%, contain;
    background-repeat: no-repeat, no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    aspect-ratio: 3.3/3;

}

.res-slide:nth-child(2) {
    background: center / cover no-repeat url("../images/Pastifigio.svg"), url('../images/ravlik.png');
    background-position: bottom center, top center;
    background-size: 50%, contain;
    background-repeat: no-repeat, no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    aspect-ratio: 3.3/3;
}

.res-slide:nth-child(3) {
    background: center / cover no-repeat url("../images/Bline.svg"), url('../images/salata.png');
    background-position: bottom center, top center;
    background-size: 50%, contain;
    background-repeat: no-repeat, no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    aspect-ratio: 3.3/3;
}

.res-slide:nth-child(4) {
    background: center / cover no-repeat url("../images/Union.svg"), url('../images/spicysalata.png');
    background-position: bottom center, top center;
    background-size: 50%, contain;
    background-repeat: no-repeat, no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;


}

.res-slide:nth-child(5) {
    background: center / cover no-repeat url("../images/BurgerDlice.svg"), url('../images/burgerslide.png');
    background-position: bottom center, top center;
    background-size: 50%, contain;
    background-repeat: no-repeat, no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    aspect-ratio: 3.3/3;
}

.res-slide:nth-child(6) {
    background: center / cover no-repeat url("../images/Pastifigio.svg"), url('../images/ravlik.png');
    background-position: bottom center, top center;
    background-size: 50%, contain;
    background-repeat: no-repeat, no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    aspect-ratio: 3.3/3;
}

.res-slide:nth-child(7) {
    background: center / cover no-repeat url("../images/Bline.svg"), url('../images/salata.png');
    background-position: bottom center, top center;
    background-size: 50%, contain;
    background-repeat: no-repeat, no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    aspect-ratio: 3.3/3;
}

.res-slide:nth-child(8) {
    background: center / cover no-repeat url("../images/Union.svg"), url('../images/spicysalata.png');
    background-position: bottom center, top center;
    background-size: 50%, contain;
    background-repeat: no-repeat, no-repeat;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    aspect-ratio: 3.3/3;
}

